<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title>Registration</title>
</head>
<body>
<div style="margin:auto;width:16%;padding-bottom:20px">
    <label>Wellcome to Family Organizer!</label>
</div>
<div style="margin:auto;width: 16%;border:3px solid #73AD21;padding-bottom:0;padding-left:10px;padding-right:10px;padding-top:10px;">
    <form name="register" action="/user/register" method="post" accept-charset="utf-8">
        <table>
            <tr>
                <td><label>Email</label></td>
                <td><input type="text" name="login" placeholder="yourname@email.com" required></li></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="password" name="password" placeholder="password" required></li></td>
            </tr>
            <tr>
                <td><label>First Name</label></td>
                <td><input type="text" name="fName" placeholder="first name" required></li></td>
            </tr>
            <tr>
                <td><label>Last Name</label></td>
                <td><input type="text" name="lName" placeholder="last name" required></li></td>
            </tr>
            <tr>
                <td><label>Middle Name</label></td>
                <td><input type="text" name="mName" placeholder="middle name" required></li></td>
            </tr>
        </table>
        <td><input type="submit" value="Register" style="width:100%"></li></td>
    </form>
</div>
</body>
</html>